{{> head}}
{{> header}}


<div class="wrap">
<h1>Organiser Dashboard</h1>

<p>Welcome, {{user.name}} </p>

<ul>
    <li><a href="/organiser/courses">Manage Courses</a></li>
    <li><a href="/organiser/sessions">Manage Sessions</a></li>
    <li><a href="/organiser/users">Manage Users</a></li>
    <li><a href="/logout">Logout</a></li>
    <a href="/organiser/bookings" class="btn">View All Bookings</a>
</ul>